[Desktop Entry]
Categories=Utility
Exec=/usr/bin/gxde-introduction
GenericName=Introduction
Icon=dde-introduction
Name=GXDE Introduction
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[ar]=المقدمة
GenericName[ast]=Introducción
GenericName[bg]=Въведение
GenericName[bn]=পরিচয়
GenericName[ca]=Introducció
GenericName[cs]=Úvod
GenericName[da]=Introduktion
GenericName[de]=Einführung
GenericName[el]=Εισαγωγή
GenericName[en_GB]=Introduction
GenericName[es]=Introducción
GenericName[es_419]=Introducción
GenericName[fi]=Johdanto
GenericName[fr]=Introduction
GenericName[hi_IN]=परिचय
GenericName[hr]=Uvod
GenericName[hu]=Bemutatkozás
GenericName[id]=Pengenalan
GenericName[it]=Introduzione
GenericName[ja]=イントロダクション
GenericName[kn_IN]=ಪರಿಚಯ
GenericName[ko]=소개
GenericName[lo]=ການແນະນໍາ
GenericName[lt]=Įžanga
GenericName[mn]=Танилцуулга
GenericName[ms]=Pengenalan
GenericName[ne]=परिचय
GenericName[nl]=Introductie
GenericName[pa]=ਜਾਣ-ਪਛਾਣ
GenericName[pl]=Wprowadzenie
GenericName[pt]=Introdução
GenericName[pt_BR]=Introdução
GenericName[ro]=Introducere
GenericName[ru]=Введение
GenericName[sk]=Úvod
GenericName[sq]=Hyrje
GenericName[sr]=Представљање
GenericName[sw]=Utangulizi
GenericName[tr]=Tanıtım
GenericName[uk]=Вступ
GenericName[zh_CN]=欢迎
GenericName[zh_TW]=介紹
Name[ast]=GXDE Introduction
Name[bg]=GXDE въведение
Name[bn]=ডিপিন  পরিচয়
Name[ca]=Introducció al GXDE
Name[cs]=Úvod
Name[da]=GXDE introduktion
Name[de]=Einführung in GXDE
Name[el]=Εισαγωγή GXDE
Name[es]=Introducción a GXDE
Name[es_419]=Introducción de GXDE
Name[fi]=GXDE johdanto
Name[fr]=Introduction de GXDE
Name[hi_IN]=GXDE परिचय
Name[hr]=GXDE uvod
Name[hu]=GXDE bemutató
Name[id]=Pengenalan GXDE
Name[it]=Introduzione a GXDE
Name[ja]=GXDE イントロダクション
Name[ko]=GXDE 소개
Name[lo]=ການແນະນໍາ ດີບປີນ
Name[lt]=GXDE įžanga
Name[mn]=Дээпин танилцуулга
Name[ms]=Pengenalan GXDE
Name[ne]=डिपिन परिचय
Name[nl]=GXDE Introductie
Name[pa]=ਡੀਪਿਨ ਜਾਣ-ਪਛਾਣ
Name[pl]=Wprowadzenie do systemu GXDE
Name[pt]=GXDE Introduction
Name[pt_BR]=Introdução ao GXDE
Name[ro]=Introducere GXDE
Name[ru]=Введение в GXDE
Name[sk]=GXDE Úvod
Name[sq]=Hyrje GXDE
Name[sr]=Дипин Представљање
Name[sw]=Utangulizi ya GXDE
Name[tr]=GXDE Tanıtımı
Name[uk]=Вступ до GXDE
Name[zh_CN]=欢迎
Name[zh_TW]=GXDE 介紹

